<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quol_Sports</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Quol_Sports.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="head">
       <nav>
           <div class="logo">
            <img src="~/css/logo.jpg" alt="logo" height="100px"; />

        </div>
        <div class="nave">
            <ul>
                <li><a  asp-area="" asp-controller="Home" asp-action="Index"> Home</a></li>
                <li><a  asp-area="" asp-controller="Home" asp-action="product">Product</a></li>
                <li><a href="#">About</a></li>
                <li><a  asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><img src="~/css/th (2).jpeg" alt="profile" height="50px" /></li>
                <li><img src="~/css/th (3).jpeg" alt="cart" height="50px" /></li>
            </ul>
        </div>
       </nav>
        <hr />
    
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col3">
                    <h3>Contact US</h3>
                    <ul>
                        <li>Email</li>
                        <li>Phone no</li>
                    </ul>
                </div>
                <div class="col3">
                    <h3>About US</h3>
                    <ul>
                        <li>Account</li>
                        <li>Shipping Method</li>
                        <li>Return Policy</li>
                        <li>Privacy Policy</li>
                        <li>Feed Back</li>
                        <li>FAQs</li>
                    </ul>
                </div>
                <div class="col3">
                    <h3>Follow US</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>

            </div>

        </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
